{% load static %}

<script>
            new WOW().init();
        </script>

<script src="{% static 'sayid/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'sayid/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sayid/js/jquery.actual.min.js' %}"></script>
<script src="{% static 'sayid/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'sayid/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'sayid/js/jquery.isonscreen.js' %}"></script>

<script src="{% static 'sayid/js/main.js' %}"></script>

<script>
        	$(document).ready(function(){
  				$('.owl-carousel').owlCarousel({
    				loop:true,
    				margin:10,
    				autoplay:true,
    				autoplayTimeout:3000,
    				autoplayHoverPause:true,
    				responsiveClass:true,
    				responsive:{
        					0:{
					            items:1,
        					},
					        600:{
					            items:1,
					        },
					        1000:{
					            items:1,
					        }
    				}
				})
			});
        </script>